.my-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
  gap: 20px;
  /* padding: 20px; */
  /* justify-content: center; */
  align-items: center;
  /* width: calc(100%/3); */
}
.container-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.meal-card {
  /* flex: 0 0 calc(25% - 15px); /*Adjusting for margins*/
  min-width: 250px;
  max-width: 450px;
  margin-bottom: 30px; /* Adjust based on your design needs */
}
.my-card img {
  width: 100%;
  height: 100px;
  height: auto;
   border-radius: 7px 7px 0 0;
}
.my-card .description {
  font-size: 0.9rem;
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* This is required for -webkit-line-clamp to work */
  overflow: hidden;
}
.my-card .tags {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .container .card {
    width: 100%;
    /* max-width: 500px; */
  }
}

/* --bs-card-border-width: var(--bs-border-width); */
/* shadow-sm p-3 mb-5 bg-white rounded */
