.my-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 30px);
  gap: 20px;
  /* padding: 20px; */
  /* justify-content: center; */
  align-items: center;
  /* width: calc(100%/3); */
}
.my-card img {
  width: 100%;
  height: auto;
}
.my-card .description {
  font-size: 0.9rem;
}
.my-card .tags {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .container .card {
    width: 100%;
    /* max-width: 500px; */
  }
}

/* --bs-card-border-width: var(--bs-border-width); */
/* shadow-sm p-3 mb-5 bg-white rounded */
