<!-- <div class="container">
  <h3>Meals</h3>
  <div class="container-card d-flex">
    <div *ngFor="let meal of meals" class="col-lg-3 col-md-6 col-sm-12">
      <div class="my-card bg-light border border-1 shadow-sm mb-5 bg-white rounded" style="cursor: pointer;">
        <img [src]="meal.image" class="shadow-sm bg-dark rounded" alt="{{meal.mealDescription}}" (click)="goToMealDetails(meal.id)" />
        <div class="details ps-1">
          <h5 class="card-title">{{meal.mealName}}</h5>
          <h6 class="text-muted">{{meal.chefPageName}}</h6>
          <p class="card-text description">{{meal.mealDescription}}</p>
          <div>
            <div class="d-inline-flex me-3">
              <i class="fa-solid fa-coins"></i>
              <p class="ps-1"><span>{{meal.price}}</span> Egp</p>
            </div>
            <div class="d-inline-flex">
              <i class="fa-solid fa-hand-holding"></i>
              <p class="ps-10">{{meal.rate}} <span>rate</span></p>
            </div>
            <button (click)="addToFavorite(meal)" [disabled]="isMealInFavorites(meal.id)">Add to Favorites</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <h3>Meals</h3>
  <div class="container-card d-flex">
    <div *ngFor="let meal of meals" class="col-lg-3 col-md-6 col-sm-12">
      <div class="my-card bg-light border border-1 shadow-sm mb-5 bg-white rounded" style="cursor: pointer;">
        <img [src]="meal.image" class="shadow-sm bg-dark rounded" alt="{{meal.mealDescription}}" (click)="goToMealDetails(meal.id)" />
        <div class="details ps-1">
          <h5 class="card-title">{{meal.mealName}}</h5>
          <h6 class="text-muted">{{meal.chefPageName}}</h6>
          <p class="card-text description">{{meal.mealDescription}}</p>
          <div>
            <div class="d-inline-flex me-3">
              <i class="fa-solid fa-coins"></i>
              <p class="ps-1"><span>{{meal.price}}</span> Egp</p>
            </div>
            <div class="d-inline-flex">
              <i class="fa-solid fa-hand-holding"></i>
              <p class="ps-10">{{meal.rate}} <span>rate</span></p>
            </div>
            <!-- <button class="btn-favorite" (click)="addToFavorite(meal)" [disabled]="isMealInFavorites(meal.id)">
              <i class="fa fa-heart" [class.active]="isMealInFavorites(meal.id)"></i> Add to Favorites
            </button> -->
            <button class="btn-favorite" (click)="addToFavorite(meal)" [disabled]="isMealInFavorites(meal.id)">
              <i class="fa fa-heart" [class.active]="isMealInFavorites(meal.id)"></i> Add to Favorites
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


