<div class="notfound-container d-flex justify-content-center align-items-center">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="inner-content text-center w-50 p-4">
      <div class="wrapper">
        <h1 class="error-head">404</h1>
        <h3 class="error-para">Opps! Page not Found</h3>
        <p class="error-message">Sorry. The page you are looking for is not found</p>
        <a routerLink="/homepage" routerLinkActive="active" class="btn home-button rounded-3">
          <span>Back to Home</span>
        </a>
      </div>
    </div>
  </div>
</div>
