<!-- <div class="widget-title">
  <h5 class="title fw-bold">Request Preview</h5>
</div>
<div class="preview d-flex justify-content-center align-items-center border rounded-2">
  <div class="meal-preview">
    <h3 class="mb-4 fw-bolder my-1">Meal Name: <span class="fw-light">{{ specialMeal.s_MealName }}</span></h3>
    <h3 class="mb-4 fw-bolder my-1">Meal Description: <span class="fw-light">{{ specialMeal.description }}</span></h3>
    <h3 class="mb-4 fw-bolder my-1">Minimum Price: <span class="fw-light">{{ specialMeal.minPrice }}</span></h3>
    <h3 class="mb-4 fw-bolder my-1">Maximum Price: <span class="fw-light">{{ specialMeal.maxPrice }}</span></h3>
  </div>
</div> -->