<div class="container moved-container">
  <div class="">
    <div class="">
      <div class="custom-div text-right">
        <div class="text-center">
          <img src="src/app/card/download.jpeg" class="rounded-circle" alt="Meal Image" style="width: 150px; height: 150px;">
        </div>
        <label for="exampleInputEmail1" class="form-label custom-label">MealName:</label>
        <h1 id="exampleInputEmail1" class="custom-h1"></h1>
        <br>
        <label for="exampleInputEmail2" class="form-label custom-label">Description:</label>
        <h1 id="exampleInputEmail2" class="custom-h1"></h1>
        <br>
        <label for="exampleInputEmail3" class="form-label custom-label">MinPrice:</label>
        <h1 id="exampleInputEmail3" class="custom-h1"></h1>
        <br>
        <label for="exampleInputEmail4" class="form-label custom-label">MaxPrice:</label>
        <h1 id="exampleInputEmail4" class="custom-h1"></h1>
        <br>
        <button class="btn">Delete</button>
        <button class="btn2">Submit</button>
      </div>
    </div>
  </div>
</div>

