<div class="Order-form">
  <div class="widget-title">
    <h5 class="title fw-bold">Special Meal Request</h5>
  </div>
  <div *ngIf="errorMessage" class="error" role="alert">
    <i class="fa fa-close pe-2"></i>
    <span>{{ errorMessage }}</span>
  </div>
  <form [formGroup]="specialMealForm" (ngSubmit)="onSubmit()"
    class=" p-4 rounded-3 border border-1 border-secondary-subtle">
    <div class="row mb-4">
      <div class="form-group col-md-12">
        <label for="s_MealName" class="mb-2">Meal Name <span class="text-danger">*</span></label>
        <input name="s_MealName" id="s_MealName" type="text" class="form-control" placeholder="Enter meal name..."
          formControlName="s_MealName" />
        <div *ngIf="specialMealForm.get('s_MealName')?.errors && specialMealForm.get('s_MealName')?.touched" class="error" role="alert">
          <i class="fa fa-close pe-2"></i>
          <span *ngIf="specialMealForm.get('s_MealName')?.getError('required')">This input is required!!!</span>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="form-group col-md-12">
        <label for="description" class="mb-2">Meal Description <span class="text-danger">*</span></label>
          <textarea class="form-control" name="description" id="description" rows="3" formControlName="description" placeholder="Enter meal description..."></textarea>
        <div *ngIf="specialMealForm.get('description')?.errors && specialMealForm.get('description')?.touched" class="error" role="alert">
          <i class="fa fa-close pe-2"></i>
          <span *ngIf="specialMealForm.get('description')?.getError('required')">This input is required!!!</span>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="form-group col-md-6">
        <label for="minPrice" class="mb-2">Minimum Price <span class="text-danger">*</span></label>
        <input name="minPrice" id="minPrice" type="number" class="form-control" formControlName="minPrice"
          placeholder="Enter minimum price..." />
        <div *ngIf="specialMealForm.get('minPrice')?.errors && specialMealForm.get('minPrice')?.touched" class="error" role="alert">
          <i class="fa fa-close pe-2"></i>
          <span *ngIf="specialMealForm.get('minPrice')?.getError('required')">This input is required!!!</span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="maxPrice" class="mb-2">Maximum Price <span class="text-danger">*</span></label>
        <input name="maxPrice" id="maxPrice" type="number" class="form-control" placeholder="Enter maximum price..."
          formControlName="maxPrice" />
        <div *ngIf="specialMealForm.get('maxPrice')?.errors && specialMealForm.get('maxPrice')?.touched" class="error" role="alert">
          <i class="fa fa-close pe-2"></i>
          <span *ngIf="specialMealForm.get('maxPrice')?.getError('required')">This input is required!!!</span>
        </div>
      </div>
    </div>
    <div class="form-group mb-4">
      <button class="btn w-100" type="submit">Submit</button>
    </div>
  </form>
</div>


