<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="widget-title">
        <h5 class="title fw-bold">Order Details</h5>
      </div>
      <div *ngIf="errorMessage" class="error" role="alert">
        <i class="fa fa-close pe-2"></i>
        <span>{{ errorMessage }}</span>
      </div>
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()"
        class=" p-4 rounded-3 border border-1 border-secondary-subtle">
        <div class="row mb-4">
          <div class="form-group col-md-6">
            <label for="fname" class="mb-2">First Name <span class="text-danger">*</span></label>
            <input name="fname" id="fname" type="text" class="form-control" formControlName="fname"
              placeholder="Enter your first name..." />
            <div *ngIf="orderForm.get('fname')?.errors && orderForm.get('fname')?.touched" class="error" role="alert">
              <i class="fa fa-close pe-2"></i>
              <span *ngIf="orderForm.get('fname')?.getError('required')">This input is required!!!</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="lname" class="mb-2">Last Name <span class="text-danger">*</span></label>
            <input name="lname" id="lname" type="text" class="form-control" placeholder="Enter your last name..."
              formControlName="lname" />
            <div *ngIf="orderForm.get('lname')?.errors && orderForm.get('lname')?.touched" class="error" role="alert">
              <i class="fa fa-close pe-2"></i>
              <span *ngIf="orderForm.get('lname')?.getError('required')">This input is required!!!</span>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-md-6">
            <label for="email" class="mb-2">Email <span class="text-danger">*</span></label>
            <input name="email" id="email" type="text" class="form-control" placeholder="Enter your email..."
              formControlName="email" />
            <div *ngIf="orderForm.get('email')?.errors && orderForm.get('email')?.touched" class="error" role="alert">
              <i class="fa fa-close pe-2"></i>
              <span *ngIf="orderForm.get('email')?.getError('required')">This input is required!!!</span>
              <span *ngIf="orderForm.get('email')?.getError('email')">Email is invalid!!!</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="phone" class="mb-2">Phone Number <span class="text-danger">*</span></label>
            <input name="phone" id="phone" type="text" class="form-control" placeholder="Enter your phone number..."
              formControlName="phone" />
            <div *ngIf="orderForm.get('phone')?.errors && orderForm.get('phone')?.touched" class="error" role="alert">
              <i class="fa fa-close pe-2"></i>
              <span *ngIf="orderForm.get('phone')?.getError('required')">This input is required!!!</span>
              <span *ngIf="orderForm.get('phone')?.getError('minlength')">This input must be 13 number!!!</span>
              <span *ngIf="orderForm.get('phone')?.getError('maxlength')">This input must be 13 number!!!</span>
            </div>
          </div>
        </div>
        <div class="divider bg-secondary-subtle icon-center my-4">
          <i class="fa fa-circle bg-white"></i>
        </div>
        <div class="row mb-4">
          <div class="form-group col-md-6">
            <label for="street" class="mb-2">Street <span class="text-danger">*</span></label>
            <input name="street" id="street" type="text" class="form-control" placeholder="Enter your street..."
              formControlName="street" />
            <div *ngIf="orderForm.get('street')?.errors && orderForm.get('street')?.touched" class="error" role="alert">
              <i class="fa fa-close pe-2"></i>
              <span *ngIf="orderForm.get('street')?.getError('required')">This input is required!!!</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="building" class="mb-2">Building <span class="text-danger">*</span></label>
            <input name="building" id="building" type="text" class="form-control" placeholder="Enter your building..."
              formControlName="building" />
            <div *ngIf="orderForm.get('building')?.errors && orderForm.get('building')?.touched" class="error"
              role="alert">
              <i class="fa fa-close pe-2"></i>
              <span *ngIf="orderForm.get('building')?.getError('required')">This input is required!!!</span>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="form-group col-md-6">
            <label for="floor" class="mb-2">Floor <span class="text-danger">*</span></label>
            <input name="floor" id="floor" type="text" class="form-control" placeholder="Enter your floor..."
              formControlName="floor" />
            <div *ngIf="orderForm.get('floor')?.errors && orderForm.get('floor')?.touched" class="error" role="alert">
              <i class="fa fa-close pe-2"></i>
              <span *ngIf="orderForm.get('floor')?.getError('required')">This input is required!!!</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="apartment" class="mb-2">Apartment <span class="text-danger">*</span></label>
            <input name="apartment" id="apartment" type="text" class="form-control"
              placeholder="Enter your apartment..." formControlName="apartment" />
            <div *ngIf="orderForm.get('apartment')?.errors && orderForm.get('apartment')?.touched" class="error"
              role="alert">
              <i class="fa fa-close pe-2"></i>
              <span *ngIf="orderForm.get('apartment')?.getError('required')">This input is required!!!</span>
            </div>
          </div>
        </div>
        <div class="divider bg-secondary-subtle icon-center my-4">
          <i class="fa fa-circle bg-white"></i>
        </div>
        <div class="row mb-4">
          <div class="form-group col-md-4">
            <label for="country" class="mb-2">Country <span class="text-danger">*</span></label>
            <input name="country" id="country" type="text" class="form-control" placeholder="Enter your country..." />

          </div>
          <div class="form-group col-md-4">
            <label for="state" class="mb-2">State <span class="text-danger">*</span></label>
            <input name="state" id="state" type="text" class="form-control" placeholder="Enter your state..." />
          </div>
          <div class="form-group col-md-4">
            <label for="city" class="mb-2">City <span class="text-danger">*</span></label>
            <input name="city" id="city" type="text" class="form-control" placeholder="Enter your city..." />
          </div>
        </div>
        <div class="divider bg-secondary-subtle icon-center my-4">
          <i class="fa fa-circle bg-white"></i>
        </div>
        <div class="row mb-4">
          <div class="form-group col-md-6">
            <label for="shippingmethod" class="mb-2">Shipping Method <span class="text-danger">*</span></label>
            <input name="shippingmethod" id="shippingmethod" type="text" class="form-control" formControlName="shippingmethod" />
            <div *ngIf="orderForm.get('shippingmethod')?.errors && orderForm.get('shippingmethod')?.touched" class="error" role="alert">
              <i class="fa fa-close pe-2"></i>
              <span *ngIf="orderForm.get('shippingmethod')?.getError('required')">This input is required!!!</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="postalcode" class="mb-2">Postal Code <span class="text-danger">*</span></label>
            <input name="postalcode" id="postalcode" type="text" class="form-control"
              placeholder="Enter your postal code..." formControlName="postalcode" />
            <div *ngIf="orderForm.get('postalcode')?.errors && orderForm.get('postalcode')?.touched" class="error"
              role="alert">
              <i class="fa fa-close pe-2"></i>
              <span *ngIf="orderForm.get('postalcode')?.getError('required')">This input is required!!!</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6 bg-danger">
      <div class="widget-title">
        <h5 class="title fw-bold">Order Details</h5>
      </div>
      <div class="order-preview bg-warning">

      </div>
    </div>
  </div>
</div>