.widget-title {
  margin-bottom: 25px;
  position: relative;
  font-size: 1.25rem;
  padding-bottom: 12px;
}

.widget-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 6px;
  left: 0;
  width: 6px;
  border-radius: 30px;
  background: var(--main-color);
}

.widget-title .title {
  position: relative;
  margin-bottom: 0px;
}

.widget-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 6px;
  border-radius: 3px;
  left: 12px;
  width: 40px;
  height: 4px;
  background: var(--main-color);
}

.form-control:focus {
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-color: var(--main-color);
  outline: 0;
  box-shadow: none;
}

input[type=text], select {
  height: 45px;
  border: 1px solid #dddddd;
  padding: 5px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  transition: all 0.3s ease-in-out;
  background: #fff;
  width: 100%;
}

.error {
	margin: 10px auto;
	padding: 10px 10px 10px 10px;
  color: #D8000C;
	background-color: #FFBABA;
}