<div class="preview d-flex justify-content-center align-items-center">
  <div class="order-preview">
    <h3 class="mb-2 fw-bolder my-3">First Name: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">Last Name: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">Email: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">Phone Number: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">Street: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">Building: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">Floor: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">Apartment: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">Country: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">State: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">City: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">Shipping Method: <span class="fw-light">...</span></h3>
    <h3 class="mb-2 fw-bolder my-3">Postal Code: <span class="fw-light">...</span></h3>
  </div>
</div>
