<div class="preview d-flex justify-content-center align-items-center">
  <div class="order-preview">
    <h3 class="mb-2 fw-bolder my-2">First Name: <span class="fw-light">{{ shipmentDetails?.firstName }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">Last Name: <span class="fw-light">{{ shipmentDetails?.lastName }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">Email: <span class="fw-light">{{ shipmentDetails?.email }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">Phone Number: <span class="fw-light">{{ shipmentDetails?.phoneNumber }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">Street: <span class="fw-light">{{ shipmentDetails?.street }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">Building: <span class="fw-light">{{ shipmentDetails?.building }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">Floor: <span class="fw-light">{{ shipmentDetails?.floor }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">Apartment: <span class="fw-light">{{ shipmentDetails?.apartment }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">Country: <span class="fw-light">{{ shipmentDetails?.country }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">State: <span class="fw-light">{{ shipmentDetails?.state }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">City: <span class="fw-light">{{ shipmentDetails?.city }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">Shipping Method: <span class="fw-light">{{ shipmentDetails?.shippingMethod }}</span></h3>
    <h3 class="mb-2 fw-bolder my-2">Postal Code: <span class="fw-light">{{ shipmentDetails?.postalCode }}</span></h3>
  </div>
</div>

