/* .dz-img-box.style-2:hover, .dz-img-box.style-2.active {
  border-color: var(--primary);
}
.dz-img-box.style-2 {
  text-align: center;
  padding: 40px 20px 30px;
  border: 1px solid #F5F5F5;
  background: #fff;
  border-radius: var(--border-radius-base);
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.dz-img-box {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.dz-img-box.style-2:hover::before, .dz-img-box.style-2.active::before {
  top: -190px;
}
.dz-img-box.style-2::before {
  top: -100%;
  background-color: var(--primary);
  z-index: 0;
}
.dz-img-box.style-2::before, .dz-img-box.style-2::after {
  position: absolute;
  content: "";
  z-index: -1;
  top: -190px;
  left: 50%;
  transform: translateX(-50%);
  background: #F5F5F5;
  width: 335px;
  height: 335px;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

box.style-2.active .dz-media {
  animation: dzRotate360 10s linear infinite;
}
.dz-img-box.style-2 .dz-media {
  width: 150px;
  min-width: 150px;
  margin: 0 auto 10px;
  border-radius: 50%;
  border: 9px solid #fff;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.dz-media, .dz-post-media {
  position: relative;
  overflow: hidden;
}

.dz-media img, .dz-post-media img {
  width: 100%;
  height: auto;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.dz-img-box.style-2 .dz-content {
  margin-top: auto;
}

h4, .h4, .wp-block-search .wp-block-search__label, .h4 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
}

.dz-img-box.style-2 .dz-content p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 8px;
}

h5, .h5, .h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
}

 */

.card {
  position: relative;
  overflow: hidden;
  border: 3px solid var(--shadow);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  border: 3px dashed var(--main-color)
}

.card-img {
  position: relative;
}

.card-img img {
  position: relative;
  z-index: 2;
  transition: transform 0.5s ease-in-out;
}

.card:hover img {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-main {
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  background-color: var(--main-color);
  transition: all 0.4s ease-in-out;
}

.btn-main:hover {
  border: 3px dashed var(--main-color);
  background-color: var(--light-color);
}

.main-heading {
  font-family: var(--font-secondary);
  font-size: 50px;
}
/*
.chef-section {
  background-color: #F5EED9;
} */





