<div class="container text-center p-5">
  <h2 class="text-capitalize mb-5 fw-bold main-heading">Some of Our Meals</h2>
  <div class="row g-4 mb-5">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img overflow-hidden">
          <img class="card-img-top" src="../../../assets/imgs/Meals/18.png" alt="Title" />
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Shakshuka</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img overflow-hidden">
          <img class="card-img-top" src="../../../assets/imgs/Meals/19.png" alt="Title" />
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Mulukhya</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img overflow-hidden">
          <img class="card-img-top" src="../../../assets/imgs/Meals/20.png" alt="Title" />
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Ful Medames</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-img overflow-hidden">
          <img class="card-img-top" src="../../../assets/imgs/Meals/21.png" alt="Title" />
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Koshari</h4>
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-main" routerLink="/meals" routerLinkActive="active">See All Meals</a>

</div>