/* Footer styles */
.footer {
  width: 100%;
  padding: 10px;
  margin: 0px;
  background-color: var(--main-color);
  text-align: center;
  font-size: 13px;
  position: fixed;
  bottom: 0;
}

.bold {
  font-weight: bold;
}
/* Responsive styles */
@media screen and (max-width: 600px) {
  .footer {
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  .lg-screen {
    display: none;
  }
}
