<!-- <div class="footer  text-light py-3">
&copy; 2024 FoodLoversHub | All rights reserved. | Contact us at <a href="" ></a> | Explore delicious recipes, cooking tips, and culinary adventures.
</div> -->

<div
  class="footer text-light d-flex justify-content-evenly w-100"
  role="contentinfo"
>
  <div class="contact-us d-sm-none d-md-none d-lg-block d-flex">
    <h3>Contact Us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <ul class="p-0">
      <li class="">
        <p>Your Name</p>
      </li>
      <li>
        <p>Your Name</p>
      </li>
      <li>
        <p>Email Address</p>
      </li>
      <li>
        <p>Subject</p>
      </li>
      <li>
        <p>Message</p>
      </li>
    </ul>
    <button class="border-0">Send Message</button>
  </div>
  <div class="fake d-sm-none d-md-none d-lg-block"></div>
  <div class="contact">
    <h3>contact</h3>
    <div class="info address">
      <i class="fa fa-location-dot"></i>
      <div class="details">
        <p>
          Phase, Colony,<br />
          Kkatpally, Hyderabad <br />
          p1247/Plot No. 39, 15th<br />
        </p>
      </div>
    </div>
    <div class="info phone">
      <i class="fas fa-phone-alt"></i>
      <div class="details">
        <p>+971 987-654-3210 <br />+971 123-456-7890</p>
      </div>
    </div>
    <div class="info mail">
      <i class="fa-regular fa-envelope"></i>
      <div class="details">
        <p>cooklee&#064;gmail.com</p>
      </div>
    </div>
  </div>
  <div class="our-links">
    <h3>out links</h3>
    <p>Home</p>
    <p>About Us</p>
    <p>Services</p>
    <p>team</p>
    <p>blog</p>
  </div>
  <div class="help">
    <h3>help center</h3>
    <p>contact us</p>
  </div>
</div>
