<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar" [class.active]="isSidebarActive">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn" (click)="toggleSidebar()">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="p-3">
        <div class="d-flex align-items-center mb-3" style="border-bottom: 1px solid rgba(255, 255, 255, 0.1);">
            <a href="index.html" class="brand-link mb-3 text-center">
              <img src="../../../assets/imgs/logo/8.png" class="w-50" alt="">
            </a>
        </div>
        <ul class="list-unstyled components mb-5 mt-3">
            <li>
                <a>
                  <i class="fa-solid fa-house pr-3"></i> Home
                </a>
            </li>
            <li>
              <a (click)="toggleDropdown('chefPages')" aria-expanded="false" class="dropdown-toggle d-flex align-items-center">
                <div>
                  <i class="fa-solid fa-user-ninja pe-2"></i>Chef Pages
                </div>
                <div class="ms-auto">
                  <i class="fa-solid fa-chevron-down"></i>
                </div>
              </a>
              <ul [@toggleDropdown]="isDropdownExpanded['chefPages'] ? 'expanded' : 'collapsed'" class="list-unstyled">
                <li>
                  <a [routerLink]="['/admin', 'active-chefs']" routerLinkActive="active">Activated Chef Pages</a>
                </li>
                <li>
                  <a [routerLink]="['/admin','inactive-chefs']" routerLinkActive="active">Not Activated Chef Pages</a>
                </li>
              </ul>
            </li>
            <li>
              <a (click)="toggleDropdown('meals')" aria-expanded="false" class="dropdown-toggle d-flex align-items-center">
                <div>
                  <i class="fa-solid fa-bowl-food pe-2"></i>Meals
                </div>
                <div class="ms-auto">
                  <i class="fa-solid fa-chevron-down"></i>
                </div>
              </a>
              <ul [@toggleDropdown]="isDropdownExpanded['meals'] ? 'expanded' : 'collapsed'" class="list-unstyled">
                <li>
                  <a>Accepted Meals</a>
                </li>
                <li>
                  <a [routerLink]="['/admin','meals-requests']" routerLinkActive="active">Meals Requests</a>
                </li>
              </ul>
            </li>


            <li>
              <a (click)="toggleDropdown('SpecialMeals')" aria-expanded="false" class="dropdown-toggle d-flex align-items-center">
                <div>
                  <i class="fa-solid fa-bowl-food pe-2"></i>   Special Meals
                </div>
                <div class="ms-auto">
                  <i class="fa-solid fa-chevron-down"></i>
                </div>
              </a>
              <ul [@toggleDropdown]="isDropdownExpanded['SpecialMeals'] ? 'expanded' : 'collapsed'" class="list-unstyled">
                <li>
                  <a [routerLink]="['/admin','SpecialMeals']" routerLinkActive="active"> All Special Meals</a>
                </li>
                <li>
                  <a [routerLink]="['/admin','SpecialMeals']" routerLinkActive="active">Special Meals</a>
                </li>
              </ul>
            </li>

            <li>
              <a (click)="toggleDropdown('orders')" aria-expanded="false" class="dropdown-toggle d-flex align-items-center">
                <div>
                  <i class="fa-solid fa-file-lines pe-2"></i>Orders
                </div>
                <div class="ms-auto">
                  <i class="fa-solid fa-chevron-down"></i>
                </div>
              </a>
              <ul [@toggleDropdown]="isDropdownExpanded['orders'] ? 'expanded' : 'collapsed'" class="list-unstyled">
                <li>
                  <a [routerLink]="['/admin','all-orders']" routerLinkActive="active">All Orders</a>
                </li>
                <li>
                  <a [routerLink]="['/admin','undelivered-orders']" routerLinkActive="active">Undelivered Orders</a>
                </li>
                <li>
                  <a [routerLink]="['/admin','delivered-orders']" routerLinkActive="active">Delivered Orders</a>
                </li>
              </ul>
            </li>


        </ul>
    </div>
</nav>


  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <div id="content" class="p-4 p-md-5 pt-5">
      <div class="content-wrapper">
          <section class="content mb-3">
            <div class="container">
              <div class="mb-5">
                <div class="row gx-2 gap-2">
                  <div class="col-lg-3 p-3 rounded-2 border-end border-start border-bottom" style="width: 24.4%;">
                    <div class="card-admin d-flex align-items-center">
                      <i class="fa fa-bag-shopping pe-3"></i>
                      <div class="d-flex flex-column">
                        <span>4.0000</span>
                      <span>Orders' Total</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 p-3 rounded-2 border-end border-start border-bottom"  style="width: 24.4%;">
                    <div class="card-admin d-flex align-items-center">
                      <i class="fa fa-hashtag pe-3"></i>
                      <div class="d-flex flex-column">
                        <span>4.0000</span>
                      <span>Orders' Count</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 p-3 rounded-2 border-end border-start border-bottom"  style="width: 24.4%;">
                    <div class="card-admin d-flex align-items-center">
                      <i class="fa fa-wallet pe-3"></i>
                      <div class="d-flex flex-column">
                        <span>4.0000</span>
                      <span>Balance</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 p-3 rounded-2 border-end border-start border-bottom"  style="width: 24.4%;">
                    <div class="card-admin d-flex align-items-center">
                      <i class="fa fa-money-check-dollar pe-3"></i>
                      <div class="d-flex flex-column">
                        <span>4.0000</span>
                      <span>Net Balance</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <router-outlet></router-outlet>
              <!-- <app-activated-cheff-pages></app-activated-cheff-pages> -->
              <!-- <app-not-activated-chef-pages></app-not-activated-chef-pages> -->
            </div>
          </section>
      </div>
  </div>
  </div>

</div>
<footer class="footer mt-auto py-3">
<div class="container text-center">
  <span class="text-black text-uppercase">© 2024 - All Right Reserved.</span>
</div>
</footer>
