<div class="content-inner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex justify-content-between">
          <div class="widget-title">
            <h4 class="title">Cart <span class="cart-number">(03)</span></h4>
          </div>
        </div>
        <div class="table-responsive">
          <div class="cart-item p-3">
            <div class="cart-item-image">
              <img src="../../assets/imgs/Meals/pic1.jpg" class="" alt="/">
            </div>
            <div class="cart-item-content p-3 d-flex flex-column justify-content-between">
              <div class="cart-item-name">
                <a routerLink="/meal" routerLinkActive="active" class="fs-5">Double Patty Burger</a>
              </div>
              <h6 class="price mb-0">$14.20</h6>
            </div>
            <div class="cart-item-content p-3 d-flex flex-column justify-content-between align-items-center ms-auto">
              <div class="cart-item-remove ms-auto">
                <button class="">
                  <i class="fa fa-close"></i>
                </button>
              </div>
              <div class="cart-item-quantity d-flex align-items-center">
                <button class="btn btn-outline-dark btn-sm me-2" onclick="decreaseQuantity(this)">
                  <i class="fa fa-minus"></i>
                </button>
                <span class="quantity">1</span>
                <button class="btn btn-outline-dark btn-sm ms-2" onclick="increaseQuantity(this)">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="cart-item p-3">
            <div class="cart-item-image">
              <img src="../../assets/imgs/Meals/pic1.jpg" class="" alt="/">
            </div>
            <div class="cart-item-content p-3 d-flex flex-column justify-content-between">
              <div class="cart-item-name">
                <a routerLink="/meal" routerLinkActive="active" class="fs-5">Double Patty Burger</a>
              </div>
              <h6 class="price mb-0">$14.20</h6>
            </div>
            <div class="cart-item-content p-3 d-flex flex-column justify-content-between align-items-center ms-auto">
              <div class="cart-item-remove ms-auto">
                <button class="">
                  <i class="fa fa-close"></i>
                </button>
              </div>
              <div class="cart-item-quantity d-flex align-items-center">
                <button class="btn btn-outline-dark btn-sm me-2" onclick="decreaseQuantity(this)">
                  <i class="fa fa-minus"></i>
                </button>
                <span class="quantity">1</span>
                <button class="btn btn-outline-dark btn-sm ms-2" onclick="increaseQuantity(this)">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="cart-item p-3">
            <div class="cart-item-image">
              <img src="../../assets/imgs/Meals/pic1.jpg" class="" alt="/">
            </div>
            <div class="cart-item-content p-3 d-flex flex-column justify-content-between">
              <div class="cart-item-name">
                <a routerLink="/meal" routerLinkActive="active" class="fs-5">Double Patty Burger</a>
              </div>
              <h6 class="price mb-0">$14.20</h6>
            </div>
            <div class="cart-item-content p-3 d-flex flex-column justify-content-between align-items-center ms-auto">
              <div class="cart-item-remove ms-auto">
                <button class="">
                  <i class="fa fa-close"></i>
                </button>
              </div>
              <div class="cart-item-quantity d-flex align-items-center">
                <button class="btn btn-outline-dark btn-sm me-2" onclick="decreaseQuantity(this)">
                  <i class="fa fa-minus"></i>
                </button>
                <span class="quantity">1</span>
                <button class="btn btn-outline-dark btn-sm ms-2" onclick="increaseQuantity(this)">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="meal-page p-5 d-flex flex-column justify-content-center">
          <div class="wrapper border-bottom border-secondary-subtle border-2 py-4">
            <p class="fs-3 fw-bolder mb-0">Want to add more meals?</p>
            <a routerLink="/allmeals" routerLinkActive="active" class="">
              <button type="button" class="btn w-100">
                Go check our Meals
                <i class="fa fa-arrow-right ms-2"></i>
              </button>
            </a>
          </div>
          <div class="wrapper border-bottom border-secondary-subtle border-2 py-4">
            <p class="fs-3 fw-bolder mb-0">Want to request a special meal?</p>
            <a routerLink="/allmeals" routerLinkActive="active" class="">
              <button type="button" class="btn w-100">
                Request a Meal Now
                <i class="fa fa-arrow-right ms-2"></i>
              </button>
            </a>
          </div>
          <div class="wrapper py-4">
            <p class="fs-3 fw-bolder mb-0">Ready to Checkout?</p>
            <a routerLink="/allmeals" routerLinkActive="active" class="">
              <button type="button" class="btn w-100">
                Order Now
                <i class="fa fa-arrow-right ms-2"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>