<div *ngFor="let chef of chefs" class="chef-card">
  <div class="chef-image">
    <img [src]="chef.idImgURL" alt="Chef Image" />
  </div>
  <div class="chef-details">
    <h2 class="chef-name">{{ chef.name }}</h2>
    <div *ngFor="let chefMeal of chef.topMeals" class="meal-details">
      <h5 class="meal-name">{{ chefMeal.mealName }}</h5>
      <div class="meal-info">
        <div class="meal-price">
          <i class="fa-solid fa-coins"></i>
          <p>{{ chefMeal.price }} Egp</p>
        </div>
        <div class="meal-rate">
          <i class="fa-solid fa-hand-holding"></i>
          <p>{{ chefMeal.rate }} <span>rate</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
