<div *ngFor="let chef of chefs" class="chef-card">
    <div>
      <div>
        <img [src]="chef.idImgURL" alt="Chef Image" />
      </div>
      <div>
        <div class="page-name">
          {{chef.name}}
        </div>
        <!-- <div *ngIf="chef.TopMeals.length > 0"> -->
          <div *ngFor="let chefMeal of chef.topMeals">
            <div class="details ps-1">
              <h5 class="card-title">{{chefMeal.mealName}}</h5>
              <div>
                <div class="d-inline-flex me-3">
                  <i class="fa-solid fa-coins"></i>
                  <p class="ps-1"><span>{{chefMeal.price}}</span> Egp</p>
                </div>
                <div class="d-inline-flex">
                  <i class="fa-solid fa-hand-holding"></i>
                  <p class="ps-10">{{chefMeal.rate}} <span>rate</span></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  