.chef-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 20px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chef-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.chef-details {
  text-align: center;
}

.chef-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.meal-details {
  margin-top: 10px;
}

.meal-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.meal-info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.meal-price,
.meal-rate {
  display: flex;
  align-items: center;
}

.meal-price i,
.meal-rate i {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .chef-card {
    width: 100%;
  }
}
