<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <app-order-form></app-order-form>
    </div>
    <div class="col-lg-6">
      <!-- <app-order-item></app-order-item> -->
      <app-order-preview></app-order-preview>
    </div>
  </div>
  <!-- <div class="divider bg-secondary icon-center my-5">
    <i class="fa fa-circle bg-white"></i>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <app-payment></app-payment>
    </div>
    <div class="col-lg-6">
      <app-order-total></app-order-total>
    </div>
  </div> -->
</div>

<!-- <app-order-form></app-order-form> -->