<div class="landing d-flex justify-content-center align-items-center my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-5">
        <div class="caption d-flex flex-column justify-content-center align-items-center">
          <h1 class="title mb-5">
            Where Food <br> Meets<span class="text-main"> Best Passion</span></h1>
            <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus nam dolore fuga odit dicta saepe vitae quidem facilis velit nulla, incidunt aut nostrum, aspernatur architecto perspiciatis possimus aliquam. Dolorem, reiciendis?</p>
        </div>
        <div class="caption-2">

        </div>
      </div>
      <div class="col-lg-6 p-5 slider">
        <div class="slider-container">
          <div *ngFor="let image of images; let i = index"
            [ngClass]="{
              'selected': i === selectedIndex,
              'prev': i === (selectedIndex - 1 + images.length) % images.length,
              'next': i === (selectedIndex + 1) % images.length,
              'hideLeft': i < selectedIndex - 1,
              'hideRight': i > selectedIndex + 1,
            }"
            class="slider-item"
            (panleft)="showNext()"
            (panright)="showPrev()">
            <img
              [src]="image.src"
              [alt]="image.title"
              class="slider-img w-75"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
