<div class="payment-card">
<div class="row ">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
        <h4 > Shipment Details Summary</h4>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">First Name: <span class="fw-light">{{ shipmentDetails?.firstName }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">Last Name: <span class="fw-light">{{ shipmentDetails?.lastName }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">Email: <span class="fw-light">{{ shipmentDetails?.email }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">Phone Number: <span class="fw-light">{{ shipmentDetails?.phoneNumber }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">Street: <span class="fw-light">{{ shipmentDetails?.street }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">Building: <span class="fw-light">{{ shipmentDetails?.building }}</span></h5>
        </div >
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">Apartment: <span class="fw-light">{{ shipmentDetails?.apartment }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">Country: <span class="fw-light">{{ shipmentDetails?.country }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">State: <span class="fw-light">{{ shipmentDetails?.state }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">City: <span class="fw-light">{{ shipmentDetails?.city }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">Shipping Method: <span class="fw-light">{{ shipmentDetails?.shippingMethod }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">Phone Number: <span class="fw-light">{{ shipmentDetails?.phoneNumber }}</span></h5>
        </div>
        <div class="card-text">
          <h5 class="mb-2 fw-bolder my-2">Postal Code: <span class="fw-light">{{ shipmentDetails?.postalCode }}</span></h5>
        </div>
      </div>
    </div>
</div>
<div class="d-flex flex-row btns ">
  <div class= "  btn btn-1" (click)="PaywithCard()">
     Pay with Card
  </div>
  <!-- <div class=" btn btn-2" (click)="PaywithCash()">
     Pay with cash
  </div> -->
  <a routerLink="/PaymentDone" routerLinkActive="active" class="">
    <button type="button" class="btn w-100">
      Pay with Cash
      <i class="fa fa-arrow-right ms-2"></i>
    </button>
  </a>
</div>
</div>