.widget-title {
  margin-bottom: 25px;
  position: relative;
  font-size: 1.25rem;
  padding-bottom: 12px;
}

.widget-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 6px;
  left: 0;
  width: 6px;
  border-radius: 30px;
  background: var(--main-color);
}

.widget-title .title {
  position: relative;
  margin-bottom: 0px;
}

.widget-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 6px;
  border-radius: 3px;
  left: 12px;
  width: 40px;
  height: 4px;
  background: var(--main-color);
}