<div class="header rounded-corners py-2">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo m-0"><h1 class="m-0">COOKLEE</h1></a>
      <p class="quote m-0">Where Home Chefs Meet Hungry Hearts <i class="fas fa-heart"></i></p>
      <div class="header-buttons ms-auto">
        <button class="btn btn-login">Login</button>
        <button class="btn btn-wishlist"><i class="fas fa-heart"></i></button>
        <button class="btn btn-cart"><i class="fas fa-shopping-cart"></i></button>
      </div>
    </div>
  </div>
</div>
