<div class="container">
  <div class="row gy-5">
    <div class="col-md-6">
      <div class="d-flex justify-content-between">
        <div class="widget-title">
          <h5 class="title fw-bold">Shipment Details</h5>
        </div>
      </div>
      <div class="wrapper">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{shipmentDetails.firstName}} {{shipmentDetails.lastName}}</h5>
            <h5 class="card-title">{{shipmentDetails.phoneNumber}}</h5>
            <h5 class="card-title">{{shipmentDetails.email}}</h5>
            <h5 class="card-title">{{shipmentDetails.building}}, {{shipmentDetails.street}}, Apartment {{shipmentDetails.apartment}}, {{ shipmentDetails?.city }}, {{ shipmentDetails?.country }}</h5>
            <h5 class="card-title">{{shipmentDetails.shippingMethod}} - {{shipmentDetails.postalCode}}</h5>
            <a routerLink="/order" routerLinkActive="active" class="fs-5">Change</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-order-total></app-order-total>
    </div>
    <div class="col-md-6">
      <app-order-item></app-order-item>
    </div>
    <div class="col-md-6">
      <app-order-payment></app-order-payment>
    </div>
  </div>
</div>
