<app-landing></app-landing>
<div class="container">
  <div class="divider bg-secondary icon-center my-5">
    <i class="fa fa-circle bg-white"></i>
  </div>
</div>
<app-top-meals></app-top-meals>
<div class="container">
  <div class="divider bg-secondary icon-center my-5">
    <i class="fa fa-circle bg-white"></i>
  </div>
</div>
<app-top-chefs></app-top-chefs>
<div class="container">
  <div class="divider bg-secondary icon-center my-5">
    <i class="fa fa-circle bg-white"></i>
  </div>
</div>




