<div class="d-flex justify-content-between">
  <div class="widget-title">
    <h5 class="title fw-bold">Order Total</h5>
  </div>
</div>
<table class="table-bordered check-tbl mb-4">
  <tbody>
    <tr>
      <td>Order Subtotal</td>
      <td class="product-price">$125.96</td>
    </tr>
    <tr>
      <td>Shipping</td>
      <td>Free Shipping</td>
    </tr>
    <tr>
      <td>Coupon</td>
      <td class="product-price">$28.00</td>
    </tr>
    <tr>
      <td>Total</td>
      <td class="product-price-total">$506.00</td>
    </tr>
  </tbody>
</table>

