<div class="d-flex justify-content-between">
  <div class="widget-title">
    <h5 class="title fw-bold">Your Order</h5>
  </div>
</div>
<table class="table check-tbl table-responsive-md">
  <thead>
    <tr>
      <th>Meal</th>
      <th>Meal Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of cartItems">
    <tr>
      <td class="favourite-item-img"><img [src]="item.image" alt="{{item.mealName}}" /></td>
      <td class="favourite-item-name">{{item.mealName}}</td>
      <td class="favourite-item-price">{{item.price}}$</td>
    </tr>
  </tbody>
</table>
<a routerLink="/cart" routerLinkActive="active" class="fs-5 btn btn-dark w-100">Change</a>
