<div class="content-inner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 m-b30">
        <div class="table-responsive">
          <table class="table check-tbl table-responsive-md">
            <thead>
              <tr>
                <th>Meal</th>
                <th>Meal Name</th>
                <th>Unit Price</th>
                <th>Add to cart </th>
                <th class="text-end">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="favourite-item-img"><img src="../../assets/imgs/Meals/pic1.jpg" alt="/"></td>
                <td class="favourite-item-name">Cheese Pizza</td>
                <td class="favourite-item-price">$35.00</td>
                <td class="favourite-item-totle">
                  <a href="shop-cart.html" class="btn btn-cart">
                    <button class="btn">
                      Add To Cart
                    </button>
                    </a></td>
                <td class="favourite-item-close">
                  <button class="btn">
                    <i class="fa fa-close"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="favourite-item-img"><img src="../../assets/imgs/Meals/pic1.jpg" alt="/"></td>
                <td class="favourite-item-name">Cheese Pizza</td>
                <td class="favourite-item-price">$35.00</td>
                <td class="favourite-item-totle">
                  <a href="shop-cart.html" class="btn btn-cart">
                    <button class="btn">
                      Add To Cart
                    </button>
                    </a></td>
                <td class="favourite-item-close">
                  <button class="btn">
                    <i class="fa fa-close"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="favourite-item-img"><img src="../../assets/imgs/Meals/pic1.jpg" alt="/"></td>
                <td class="favourite-item-name">Cheese Pizza</td>
                <td class="favourite-item-price">$35.00</td>
                <td class="favourite-item-totle">
                  <a href="shop-cart.html" class="btn btn-cart">
                    <button class="btn">
                      Add To Cart
                    </button>
                    </a></td>
                <td class="favourite-item-close">
                  <button class="btn">
                    <i class="fa fa-close"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
